@layer components {
	.button-group {
		// These classes must stay in order to ensure functionality 
		@apply block;
		// The default classes and style below can be changed on a per-project basis
		@apply mt-2x;	  
	 }	
}