
.button-group {
	/* These classes must stay in order to ensure functionality */
	display: block;
	/* The default classes and style below can be changed on a per-project basis */
	margin-top: theme('spacing.normal');	  
}

p + .button-group {
	margin-top: theme('spacing.base');	  
}

/* SET DEFAULT BUTTON STYLE, SHOULD MATCH ONE OF YUOR RESPONSIVE BUTTON STYLE CLASSES IN APP-UTILITIES.PCSS */
 
.btn, .btn-standard {
	/* These classes must stay in order to ensure functionality */
	display: inline-block;
	/* The default classes and style below can be changed on a per-project basis */	
	transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), color 1s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	@apply font-semibold;
	/*border-radius: 0.4rem;*/
	text-transform: uppercase;
}

.btn-text {  
	border-radius: 0px;
	
}

.btn-text-arrow {
  &::after {
	font: var(--fa-font-solid);
	/* the free version of font awesome is loaded so you can change the icon for the arrow to anything in their collection */
	content: "\f105";
	display: inline-block;
	margin-left: 0.05em;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;     
	transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);    
  }
  
  &:hover {
	&::after {      
	  transform: translateX(0.25em);
	}
  }
}
	 
		
.btn, .btn-md {
	@apply text-scaling-base py-4;
	
	&.btn-standard {
		@apply px-8; 
	}
	
	&.btn-text, &.btn-text-arrow {
 		@apply mx-8 px-0; 
		
		&:first-child {
			@apply ml-none;
		} 
		
		&:last-child {
			@apply mr-none;
		}
	}  
}

.btn-sm {
	@apply text-scaling-sm py-2;
	
	&.btn-standard {
  		@apply px-4; 
	}
	
	&.btn-text, &.btn-text-arrow {
   		@apply mx-4 px-0;
		   
		&:first-child {
			@apply ml-none;
		} 
		
		&:last-child {
			@apply mr-none;
		} 
	} 
}

.btn-lg {
	@apply text-scaling-lg py-6;
	
	&.btn-standard {
		@apply px-12; 
	}
	
	&.btn-text, &.btn-text-arrow {
		@apply mx-12 px-0;
		
		&:first-child {
			@apply ml-none;
		} 
		
		&:last-child {
			@apply mr-none;
		} 
	} 	 
}