/* color scheme classes are applied to every element so inheritance issues are avoided background color overrides may be needed for scenarios where a background color class and colorscheme are applied together */

.colormode-light {
	
	&.section-standard {
		color: theme('colors.black');
		background-color: theme('colors.white');
	}
	
	/* accordions */
	&.accordion {
		background-color: theme('colors.gray.300');
		color: theme('colors.black');
		
		/* adjust these styles if you want the button to be a different color, etc. */
		& > .accordion-header > .accordion-button {
			
			&:hover {
				background-color: theme('colors.gray.400');
				color: theme('colors.black');
			}
		}
	}
	
	/* tab sets */
	&.tab-panel {
		background-color: theme('colors.gray.300');
		color: theme('colors.black');
	}
	
	&.tab-set-btn {
		background-color: theme('colors.gray.500');
		color: theme('colors.white');
		
		&:hover {
			background-color: theme('colors.gray.700');
			color: theme('colors.white');
		}
		
		&[aria-selected=true] {
			background-color: theme('colors.gray.300');
			color: theme('colors.black');
		}
	}
	
	/* Buttons */
	
	&.btn-standard {
		background-color: theme('colors.gray.500');
		color: theme('colors.white');
		
		&:hover {
			background-color: theme('colors.gray.700');
			color: theme('colors.white');
		}
	}
	
	&.btn-text {
		color: theme('colors.gray.700');
		
		&:hover {
			color: theme('colors.gray.500');
		}
	}
	
	&.btn-text-arrow {
		color: theme('colors.gray.700');
		
		&:hover {
			color: theme('colors.gray.500');
		}
	}
	
	/* Media */
	
	&.content-image, &.content-video {
		background-color: theme('colors.gray.300');
		color: theme('colors.black');
	}
	
	/* Forms */
	
	&.form-block {
		
		.form-field-input, .form-dropdown {
			background-color: theme('colors.gray.300');
			border-color: theme('colors.gray.300');
			color: theme('colors.black');
			
			&:focus {
				border-color: theme('colors.gray.500');
			}
		}
		
		.form-checkbox, .form-radio {
			border-color: theme('colors.gray.300');
			color: theme('colors.gray.600');
			
			&:focus {
				border-color: theme('colors.gray.500');
			}
		}	
		
	}
	
	
	/* TEXT COLOR OVERRIDES */
	/* Make a style rule for every color available in the text color picker in the CP. These need to be at the end of a color scheme definition */
	
	&.text-white {
		color: theme('colors.white');
	}
	
	&.text-black {
		color: theme('colors.black');
	}
	
	&.text-red {
		color: theme('colors.red.600');
	}	
	
	/* BACKGROUND COLOR OVERRIDES */
	/* Make a style rule for every color available in the bg color picker in the CP. These need to be at the end of a color scheme definition */
	
	&.bg-transparent {
		background-color: transparent;
	}
	
	&.bg-white {
		background-color: theme('colors.white');
	}
	
	&.bg-black {
		background-color: theme('colors.black');
	}
	
	&.bg-red {
		background-color: theme('colors.red.600');
	}
	
}

.colormode-dark {
	
	&.section-standard {
		color: theme('colors.white');
		background-color: theme('colors.black');
	}
	
	/* accordions */
	&.accordion {
		background-color: theme('colors.gray.700');
		color: theme('colors.white');
		
		/* adjust these styles if you want the button to be a different color, etc. */
		& > .accordion-header > .accordion-button {
			
			&:hover {
				background-color: theme('colors.gray.600');
				color: theme('colors.white');
			}
		}
	}
	
	/* tab sets */
	&.tab-panel {
		background-color: theme('colors.gray.700');
		color: theme('colors.white');
	}
	
	&.tab-set-btn {
		background-color: theme('colors.gray.300');
		color: theme('colors.black');
		
		&:hover {
			background-color: theme('colors.gray.400');
		}
		
		&[aria-selected=true] {
			background-color: theme('colors.gray.700');
			color: theme('colors.white');
		}
	}
	
	/* Buttons */
	
	&.btn-standard {
		background-color: theme('colors.gray.700');
		color: theme('colors.white');
		
		&:hover {
			background-color: theme('colors.gray.400');
			color: theme('colors.white');
		}
	}
	
	&.btn-text {
		color: theme('colors.gray.400');
		
		&:hover {
			color: theme('colors.white');
		}
	}
	
	&.btn-text-arrow {
		color: theme('colors.gray.400');
		
		&:hover {
			color: theme('colors.white');
		}
	}
	
	/* Media */
	
	&.content-image, &.content-video {
		background-color: theme('colors.gray.700');
		color: theme('colors.white');
	}
	
	/* Forms */
	
	&.form-block {
		
		.form-field-input, .form-dropdown {
			background-color: theme('colors.gray.700');
			border-color: theme('colors.gray.700');
			color: theme('colors.white');
			
			&:focus {
				border-color: theme('colors.gray.300');
			}
		}
		
		.form-checkbox, .form-radio {
			border-color: theme('colors.gray.700');
			color: theme('colors.white');
			
			&:focus {
				border-color: theme('colors.gray.300');
			}
		}
		
	}
	
	/* TEXT COLOR OVERRIDES */
	/* Make a style rule for every color available in the text color picker in the CP. These need to be at the end of a color scheme definition */
	
	&.text-white {
		color: theme('colors.white');
	}
	
	&.text-black {
		color: theme('colors.black');
	}
	
	&.text-red {
		color: theme('colors.red.600');
	}	
	
	/* BACKGROUND COLOR OVERRIDES */
	/* Make a style rule for every color available in the bg color picker in the CP. These need to be at the end of a color scheme definition */
	
	&.bg-transparent {
		background-color: transparent;
	}
	
	&.bg-white {
		background-color: theme('colors.white');
	}
	
	&.bg-black {
		background-color: theme('colors.black');
	}
	
	&.bg-red {
		background-color: theme('colors.red.600');
	}
	
}

.colormode-red {
	
	&.section-standard {
		color: theme('colors.white');
		background-color: theme('colors.black');
	}
	
	/* accordions */
	&.accordion {
		background-color: theme('colors.red.600');
		color: theme('colors.white');
		
		/* adjust these styles if you want the button to be a different color, etc. */
		& > .accordion-header > .accordion-button {
			
			&:hover {
				background-color: lighten(theme('colors.red.600'), 20%);
				color: theme('colors.white');
			}
		}
	}
	
	/* tab sets */
	&.tab-panel {
		background-color: theme('colors.red.600');
		color: theme('colors.white');
	}
	
	&.tab-set-btn {
		background-color: theme('colors.gray.300');
		color: theme('colors.black');
		
		&:hover {
			background-color: theme('colors.gray.400');
		}
		
		&[aria-selected=true] {
			background-color: theme('colors.red.600');
			color: theme('colors.white');
		}
	}
	
	/* Buttons */
	
	&.btn-standard {
		background-color: theme('colors.red.600');
		color: theme('colors.white');
		
		&:hover {
			background-color: lighten(theme('colors.red.600'), 20%);
			color: theme('colors.white');
		}
	}
	
	&.btn-text {
		color: theme('colors.red.600');
		
		&:hover {
			color: lighten(theme('colors.red.600'), 20%);
		}
	}
	
	&.btn-text-arrow {
		color: theme('colors.red.600');
		
		&:hover {
			color: lighten(theme('colors.red.600'), 20%);
		}
	}
	
	/* Media */
	
	&.content-image, &.content-video {
		background-color: theme('colors.gray.700');
		color: theme('colors.white');
	}
	
	/* Forms */
	
	&.form-block {
		
		.form-field-input, .form-dropdown {
			background-color: theme('colors.gray.300');
			border-color: theme('colors.gray.300');
			color: theme('colors.black');
			
			&:focus {
				border-color: theme('colors.gray.500');
			}
		}
		
		.form-checkbox, .form-radio {
			border-color: theme('colors.gray.300');
			color: theme('colors.gray.600');
			
			&:focus {
				border-color: theme('colors.gray.500');
			}
		}
		
	}
	
	/* TEXT COLOR OVERRIDES */
	/* Make a style rule for every color available in the text color picker in the CP. These need to be at the end of a color scheme definition */
	
	&.text-white {
		color: theme('colors.white');
	}
	
	&.text-black {
		color: theme('colors.black');
	}
	
	&.text-red {
		color: theme('colors.red.600');
	}	
	
	/* BACKGROUND COLOR OVERRIDES */
	/* Make a style rule for every color available in the bg color picker in the CP. These need to be at the end of a color scheme definition */
	
	&.bg-transparent {
		background-color: transparent;
	}
	
	&.bg-white {
		background-color: theme('colors.white');
	}
	
	&.bg-black {
		background-color: theme('colors.black');
	}
	
	&.bg-red {
		background-color: theme('colors.red.600');
	}
	
}


/* Button Colors */

.btn-standard.btn-red {
	background-color: theme('colors.red.600');
	color: theme('colors.white');
	
	&:hover {
		background-color: lighten(theme('colors.red.600'), 20%);
		color: theme('colors.white');
	}
}


/* UNIVERSAL FORM STYLES */

.alert-error {
	background-color: theme('colors.red.200');			
	color: theme('colors.red.600');		
}

.field-error {
	color: theme('colors.red.600');
}

.alert-success {
	background-color: theme('colors.green.200');			
	color: theme('colors.green.600');			
}

.field-required {
	color: theme('colors.red.600');
}






