.column {
  /* These classes must stay in order to ensure functionality */
  @apply w-full md:w-auto mt-normal;
  position: relative;
  /* The default classes and style below can be changed on a per-project basis */  
}