.column {
  /* These classes must stay in order to ensure functionality */
  @apply w-full;
  width: 100%;  
  position: relative;
  margin-top: theme('spacing.normal');  
  
  @media (min-width: theme('screens.md')) {
    width: auto; 
  }
  
  
  /* The default classes and style below can be changed on a per-project basis */  
}

.column-inner {
  padding-left: theme('spacing.normal');
  padding-right: theme('spacing.normal');
  position: relative;
  z-index: 10;
}