/**
*
* Content Wrapper component specific styles
*
*/
 
.contentWrapper {
  /* These classes must stay in order to ensure functionality */
  position: relative;
  /* The default classes and style below can be changed on a per-project basis */
  margin-top: theme('spacing.normal');
  
  &:first-child {
    margin-top: 0;
  }
}