.cta {
	/* These classes must stay in order to ensure functionality */
	position: relative;
	/* The default classes and style below can be changed on a per-project basis */
	margin-top: theme('spacing.normal');
	  
	&:first-child {
		margin-top: 0;
	}
}

.cta-content {
	padding: theme('spacing.normal');
}

.cta-inner {
	display: flex;
	content-align: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.cta-content {
	display: flex;
	align-items: center;
}