.modal-overlay {	
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: theme('colors.black');
	opacity: 0.7;	
}

.modal-wrapper-outer {	
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;	
	z-index: 999;
	
}

.modal-wrapper-inner {
	position: relative;
	min-height: 100vh;	
	z-index: 999;
	overflow: scroll;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.modal-window {		
	position: relative;
	width: 100%;
	max-width: 80vw;
	overflow-y: auto;	
	background-color: theme('colors.white');
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	
	.w-screen, .sectionStandard, .sectionSidePhoto {
		max-width: 100% !important;
	}
		
}

.modal-close {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
	color: theme('colors.white');
	margin: 0.5rem;
	transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	
	&:hover {
		color: theme('colors.red.500');
	}
	
	svg, i {
		width: 2.4rem;
		height: 2.4rem;
		fill: currentColor;
	}
	
	i {
		font-size: 2.4rem;
		line-height: 1;
	}
}
