/**
 * components/page-section.css
 *
 * Standard Section component specific styles
 *
 */

.section-standard {
   /* These classes must stay in order to ensure functionality */
   @apply relative w-screen m-0;   
   /* The default classes and style below can be changed on a per-project basis */
   
}

.container-inner {
	@apply p-normal;
} 