.pagination {
	width: 100%;
	padding-top: theme('spacing.normal');	
	display: flex;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	
	.current {
		font-weight: bold;
	}
}

.btn-pagination {
	display: inline-flex !important;
	justify-content: start;
	align-items: center;
	flex-wrap: nowrap;
	
	i {
		display: block;
		font-size: 60%;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	
	span {
		display: block;
	}
}