/**
* components/row.css
*
* Content Wrapper component specific styles
*
*/

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;	
	position: relative;	
	margin-left: theme('spacing.neg-normal');
	margin-right: theme('spacing.neg-normal');
	
	
}