 /* make sure to use root relative urls in your @fontface lines (i.e. /dist/fonts/fontfile.woff. Assume that the stylesheet is going to be located in /dist/css and set the url accordingly */

/* EXAMPLE:
  @font-face {
	 font-family: 'brother 1816';
	 src: url('/dist/fonts/brother-reg.woff2') format('woff2'),
		  url('/dist/fonts/brother-reg.woff') format('woff');
	 font-weight: normal;
	 font-style: normal;
 }
 */

