/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 * BUTTON CLASSES NEED TO GO HERE SINCE THEY ARE GROUPED IF YOU WANT THEM TO BE RESPONSIVE */
 
@import "tailwindcss/utilities";

@layer utilities {
    
    
    
}